/* Final.css */

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOutUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  .animate__fadeInDown {
    animation: fadeInDown 1s ease-in-out forwards;
  }
  
  .animate__fadeOutUp {
    animation: fadeOutUp 1s ease-in-out forwards;
  }
  